@font-face {
  font-family: 'playfair';
  src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'playfair-italic';
  src: url(../fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'montserrat';
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'montserrat-italic';
  src: url(../fonts/Montserrat-Italic-VariableFont_wght.ttf);
}

:root{
  font-size: 16px;
  font-family: 'playfair';
  --black: #1f1c18;
  --white: #e3ddd9;
  --selected: #a7a09c;
  background-color: var(--white);
  overflow-x: hidden;
}
.italic{
  font-family: 'playfair-italic';
}

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.2rem;
  height: 10vh;
  width: 100%;
  background-color: var(--black);
}
#hero{
  color: var(--white);
  font-size: 2rem;
  margin-left: 50px;
  min-width: 70px;
  /* background-image: url(../img/bowl-rice.svg); */
  background-size: cover;

}
#nav-bar{
  font-size: 1.5rem;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.btn{
  margin-left: 20px;
  margin-right: 20px;
}
.btn{
  color: var(--white);
}
.btn:hover{
  color: var(--selected)
}
.unbuttonize{
  /* // This removes styles added by default to button elements.
  // For when something should semantically be a button,
  // but isn't buttony in appearance. */
  background-color: transparent;
  border: none;
  padding: 0;
  text-align: inherit;
  font: inherit;
  border-radius: 0;
  appearance: none;
}

#content{
  height:90vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.card{
  padding-left: 50px;
  padding-right: 50px;
}
#welcome-card{
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(../img/banner.jpg);
  background-size: cover;
  background-position: center;
}
#about-card{
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--black);
  color: var(--white);
  font-family: 'montserrat';
}
#about-text{
  width: 60vw;
  min-width: 900px;
}
#about-title{
  font-size: 2.5rem;
  font-family: 'playfair';
  font-weight: 200;
}
#about-text{
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 200;
  text-align: center;
}
#info-card{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 300px;
  height: 20vh;
  width: 100%;

  background-color: var(--selected);
  padding-top: 40px;
  font-family: 'montserrat';
}
#location-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#loc-title{
  font-weight: 600;
}
#hours-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#hours-title{
  font-weight: 600;
}


#contact-card{
  height: 10vh;
  width: 100%;
}
#contact-banner{
  background-color: var(--selected);
  width: 100%;
  color: var(--black);
  text-align: center;
  height: 20vh;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: 'montserrat';
}
#email-form{
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(9, 40px);
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-size: 1.2rem;
}
#email-label{
  grid-column-start: 1;
  grid-column-end: 4;
}
#email{
  grid-column-start: 1;
  grid-column-end: 4;
}
#subject-label{
  grid-column-start: 1;
  grid-column-end: 4;
}
#subject{
  grid-column-start: 1;
  grid-column-end: 4;
}
#body-label{
  grid-column-start: 1;
  grid-column-end: 4;
}
#body{
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 9;
  height: 120px;
}
#submit-btn{
  grid-column-start: 3;
  grid-column-end: 4;
  justify-self: end;
  width: 100px;
  font-size: 1rem;
  margin-top: 30px;
}
